@import url('https://fonts.googleapis.com/css?family=Signika&display=swap'); /* font-family: 'Signika', sans-serif;  */
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap'); /* footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(3, 0, 17);
  font-family: 'Signika', sans-serif;
}

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(3, 0, 17), white, rgb(3, 0, 17));
}

.header h1 {
  text-shadow: 0 1px 1px rgb(255, 255, 255);
  font-size: 8vh;
  color: rgb(3, 0, 17);
  text-align: center;
  animation-name: fade-in, float;
  animation-duration: 1s;
}

.selections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.selection {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  animation-name: fade-in, fall;
  animation-duration: 2s;
}

.selection img {
  height: 85%;
  width: auto;
}

.selection:hover {
  background-color: rgb(194, 194, 194);
}

.selection-won {
  box-shadow: 0 0px 20px rgb(0, 255, 42);
  border: 2px solid rgb(0, 255, 42);
}

.selection-lost {
  box-shadow: 0 0px 20px rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.selection-tie {
  box-shadow: 0 0px 20px rgb(165, 165, 165);
  border: 2px solid rgb(165, 165, 165);
}

.label {
  position: absolute;
  color: white;
  font-size: 30px;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.explanation {
  color: white;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  text-align: center;
  animation-name: fade-in, float-absolute;
  animation-duration: 2s;
}

table {
  color: white;
  border-collapse: collapse;
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translate(-50%, 0);

  animation-name: fade-in, float-absolute;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

table th {
  text-align: left;
  background-color: white;
  color: rgb(3, 0, 17);
  padding: 5px;
  border: 1px solid white;
}

table td {
  border: 1px solid white;
  padding: 4px 8px;
}

.alert-box {
  position: absolute;
  width: 50%;
  height: 75%;
  background: rgb(22, 22, 22);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px double white;
  box-shadow: 0 0 10px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  visibility: hidden;
}

.alert-box h1 {
  color: white;
  text-align: center;
  transform: translateY(-200%);
  margin: 7px;
}

.alert-box ul li {
  color: white;
  font-size: 17px;
}

#alertBtns {
  transform: translateY(200%);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#alertBtns button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
  font-weight: 800;
  color: rgb(22, 22, 22);
}

#alertBtns button:hover {
  background: transparent;
  color: white;
  box-shadow: 0 0 10px;
}

.show-again {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.show-again > label {
  margin-left: 5px;
  color: white;
}

.footer {
  height: 7vh;
  width: 100%;
  border-top: 1px solid white;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  color: white;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  letter-spacing: -1px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .header h1 {
    font-size: 40px;
  }

  .selection {
    height: 100px;
    width: 100px;
  }

  .label {
    font-size: 20px;
  }

  .alert-box {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .selections {
    width: 100%;
  }

  .header h1 {
    font-size: 35px;
  }

  .explanation {
    font-size: 20px;
  }

  .alert-box {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  .selection {
    height: 80px;
    width: 80px;
  }

  .label {
    font-size: 15px;
  }

  .header h1 {
    font-size: 28px;
  }

  .explanation {
    top: 300px;
  }

  .footer h2 {
    font-size: 15px;
  }

  .alert-box h1 {
    margin-bottom: 30px;
    transform: translateY(0);
    font-size: 20px;
  }

  .alert-box #alertBtns button {
    width: 25%;
  }
}

@media screen and (max-width: 300px) {
  .header h1 {
    font-size: 25px;
  }

  .selection {
    height: 70px;
    width: 70px;
  }

  .alert-box #alertBtns button {
    width: 45%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fall {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes float {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes float-absolute {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
